body {
    background-color: #CCCCCC;
    font-family: Geneva, Tahoma, sans-serif;
    margin: 0px auto;
    border: solid;
    border-color: #FFFFFF;
}

header {
    background-color: #F47D31;
    /*display: block;*/
    text-align: center;
}

header h2 {
    margin: 0px;
}

h1 {
    font-size: 72px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    margin: 0px;
    text-align: center;
}

h3 {
    font-size: 18pxl;
    margin: 0px;
    text-align: center;
    color: #F47D31;
}

h4 {
    color: #F47D31;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 20px #888;
    -webkit-transform: rotate(-45deg);
    position:absolute;
    padding: 0px 150px;
    top: 50px;
    left: -120px;
    text-align: center;
}

nav {
    display: block;
    width:25%;
    float:left;
}

nav a:link, nav a:visited {
    display: block;
    border-bottom: 3px solid #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

nav a:hover {
    color: white;
    background-color: #F47D31;
}

nav h3 {
    color: white;
    margin: 15px;
}

#container {
    background-color: #888;
}

section {
    display: block;
    width: 50%;
    float: left;
}

article {
    background-color: #eee;
    display: block;
    margin: 10px;
    padding: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: 2px 2px 20px #888; 
}

article header {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
} 

article footer {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
} 

article h1 {
    font-size: 18px;
} 

aside {
    display: block;
    width: 25%;
    float: left;
}

aside h3 {
    margin: 15px;
    color: white;
} 

aside p {
    margin: 15px;
    color: white;
    font-weight: bold;
    font-style: italic;
} 

footer {
    clear: both;
    display: block;
}

footer h2 {
    font-size: 14px;
    color: white;
} 

a {
    color: #F47D31;
}

a:hover {
    text-decoration: underline;
}